<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/detail.css" media="screen" title="no title" charset="utf-8">
    <title>Elijah Parkhurst</title>
  </head>
  <body>
    <h1 class="home">
      <a href="/../index.html">
        <span class="glyphicon glyphicon-arrow-left back-icon"></span>
        <span class="glyphicon glyphicon-home back-icon"></span>
      </a>
    </h1>
    <div class="">
      <div class="detail-page">
        <div class="header">
          <h1>Angular Apps</h1>
          <h3>About</h3>
          <p>
            These are a sereis of Angular Apps that include a reddit style application, a movie search engine, and an ecommerce style website.
        </div>
        <div class="movie-container">
          <img class="movie" src="/../imgs/allangular.png">
        </div>
        <a class="deploy-link"href="https://allangular.firebaseapp.com" target="_blank"><p>View the deployed site Here</p></a>
      </div>
  </body>
</html>
