
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/detail.css" media="screen" title="no title" charset="utf-8">
    <title>Elijah Parkhurst</title>
  </head>
  <body>
    <h1 class="home">
      <a href="/../index.html">
        <span class="glyphicon glyphicon-arrow-left back-icon"></span>
        <span class="glyphicon glyphicon-home back-icon"></span>
      </a>
    </h1>
    <div class="">
      <div class="detail-page">
        <div class="header">
          <h1>Brews Brothers</h1>
          <h3>About</h3>
          <p>
            Brews Brothers was a group project developed by 6 people in 5 days. It is an app which can set a temperature schedule for a refrigerator wirelessly
          </p>
        </div>
        <div class="movie-container">
        <img src="../imgs/brewsbrothers.png" class="movie"/>
        </div>
        <a class="deploy-link" href="https://brewsbrotherschillerfrontend.firebaseapp.com/" target="_blank"><p>View the deployed site Here</p></a>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
