
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/detail.css" media="screen" title="no title" charset="utf-8">
    <title>Elijah Parkhurst</title>
  </head>
  <body>
    <h1 class="home">
      <a href="/../index.html">
        <span class="glyphicon glyphicon-arrow-left back-icon"></span>
        <span class="glyphicon glyphicon-home back-icon"></span>
      </a>
    </h1>
    <div class="">
      <div class="detail-page">
        <div class="header">
          <h1>Ginger Mingle</h1>
          <h3>About</h3>
          <p>
            Ginger Mingle is a joke dating website. It's made using AngularJS. A user can login, set up a profile and recieve matches that are within a certain radius of thier current location.
          </p>
        </div>
        <div class="picture-container">
          <img src="../imgs/gingerMingle.png" class="picture"/>
        </div>
        <a class="deploy-link" href="https://github.com/eparkhurst/gDating"><p><span class="fa fa-github-square"></span>View on GitHub</p></a>
        <!-- <a class="deploy-link" href="https://brewsbrotherschillerfrontend.firebaseapp.com/" target="_blank"><p>View the deployed site Here</p></a> -->
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
