
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/detail.css" media="screen" title="no title" charset="utf-8">
    <title>Elijah Parkhurst</title>
  </head>
  <body>
    <h1 class="home">
      <a href="/../index.html">
        <span class="glyphicon glyphicon-arrow-left back-icon"></span>
        <span class="glyphicon glyphicon-home back-icon"></span>
      </a>
    </h1>
    <div class="">
      <div class="detail-page">
        <div class="header">
          <h1>Track Path</h1>
          <h3>About</h3>
          <p>
            Track Path is a native Android App that I developed as my capstone project. The app was designed for use by landscapers who need to track what places they have applied herbicide to. The app tracks the users path and displays it on a map. These maps are stored on the cloud and can be accessed later.
          </p>
        </div>
        <div class="movie-container">
          <iframe class="movie" src="http://www.youtube.com/embed/iX6JHrBMzcA?autoplay=0"></iframe>
        </div>
        <a class="deploy-link" href="https://github.com/eparkhurst/mapit"><p><span class="fa fa-github-square"></span>View on GitHub</p></a>
      </div>
  </body>
</html>
