
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/detail.css" media="screen" title="no title" charset="utf-8">
    <title>Elijah Parkhurst</title>
  </head>
  <body>
    <h1 class="home">
      <a href="/../index.html">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </h1>
    <div class="">
      <div class="detail-page">
        <div class="header">
          <h1>Git up</h1>
          <h3>About</h3>
          <p>
            My 2nd semester full stack project was a group project. GitUp is a web app to track activity and rewards for children. Checkout the video to see more features.
          </p>
        </div>
        <div class="embed-responsive embed-responsive-4by3 movie-container">
          <iframe class="embed-responsive-item movie" src="http://www.youtube.com/embed/iX6JHrBMzcA?autoplay=0"></iframe>
        </div>
        <a href="http://huber007.dyndns.org:3000/" target="_blank"><p>View the deployed site Here</p></a>
      </div>
  </body>
</html>
